.logo-container {
    z-index: 0;
    width: 400px;
    height: 609px;
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 0;
    left: auto;
    margin: auto;
    opacity: 0;


    svg {
        width: 100%;
        height: auto;
        bottom: 0;
        transform: rotateZ(30deg) !important;
    }

    .solid-logo {
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
        width: 100%;
        opacity: 0;
        transform: rotateZ(30deg);
        z-index: 1;

    }
}





.svg-container {
    stroke: #ffd700;
    stroke-width: 10;
}

.front-logo {
    //I want to adjust the logo size so it depends on display size (can use vh and vw) but not all displays will have the same proportions, meaning the logo could end up VERY stretched
    width: 500px;
    height: 500px;
    padding-top: 150px;
    padding-right: 100px;
}
